#info {
    height: 450vh; /*Viewport height*/
    width: 100%;
    background-color: #C2C6D2;
    padding-top: 30px;

    .header {
      justify-content: center;
      align-items: center;
      display: flex;
      padding-top: 70px;


    }

    h3 {
      text-align: center;
    }

    .short-info {
      display: flex;
      width: 100%;


      div {
       width: 30%;

   
        ul {
          padding-top: 30px;

          li {
            list-style: none;
            text-decoration: none;
            color: black;

            
          }

          #li1, #li2, #li3, #li4 {
            font-weight: bold;
          } 
           

        }

      }

    }

    .background {
      display: flex;
      flex-direction: row;
      width: 100%;

      div:first-child {
        width: 25%;
      }

      .content {
        width: 50%;
      }

      div:last-child {
        width: 25%;
      }

    }

    .screenshots {
      display: flex;
      width: 100%;
      align-items: center;

      div:first-child {
        width: 25%;

      }

      .imgcontent {
        width: 50%;

        img {
          width: 100%;
        }

        p {
          margin: 2px;
          font-style: italic;
        }

      }

      div:last-child {
        width: 25%;
      }

     
    }

    

    .background-3 {
      display: flex;
      flex-direction: row;
      width: 100%;

      div:first-child {
        width: 25%;
      }

      .content {
        width: 50%;
      }

      div:last-child {
        width: 25%;
      }

    }














      
      .button {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: rgb(145, 92, 182);
        padding: 15px 40px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        margin-top: 30px;

      }

      .glow-button:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
      }
      
}


@media only screen and (max-width: 1024px) {

    #info {
        font-size: 20px;

    
        .button {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            background: rgb(145, 92, 182);
            padding: 30px 80px;
            border-radius: 4px;
            font-weight: normal;
            text-transform: uppercase;
            transition: all 0.2s ease-in-out;
            margin-top: 30px;
    
          }
    
          .glow-button:hover {
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
          }
    }


}